.dropdown-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #011935;
    padding: 16px;
    height: 10px;
    width: 200px;
    border-radius: 8px;
    margin: 4px;
}

.dropdown-wrapper:hover {
    filter: brightness(1.5);
}

.dropdown-icon {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.dropdown-name {
    font-size: 1rem;
}

.dropdown-icon img {
    height: 25px;
    width: 25px;
    margin-right: 16px;;
    border-radius: 50%;
    overflow: hidden;
}

.dropdown-icon .default-icon {
    height: 25px;
    width: 25px;
    margin-right: 16px;;
    border-radius: 50%;
    overflow: hidden;
}
