.post-wrapper {
  width: 100%;
  color: black;
}

.post-wrapper .metaDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-wrapper .metaDetails p {
  font-size: 0.75rem;
  font-weight: 700;
}

.post-wrapper .title {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 24px;
}

.post-content {
  width: 100%;
  overflow: hidden;
}

.post-content .post-image {
  width: 100%;
  overflow: hidden;
}

.post-content .post-video {
  width: 100%;
  overflow: hidden;
}

.post-wrapper .postInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-wrapper .postInfo p {
  font-size: 0.75rem;
  font-weight: 700;
}

.icon-action-button {
  background: none;
  border: none;
  border-radius: 4px;
}

.icon-action-button:hover {
  background: #426380;
  color: white;
}

.post-comments-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-count {
  padding-bottom: 2px;
  padding-right: 4px;
}

.comment-wrapper {
  width: 100%;
}

.skeleton-wrapper {
  padding: 16px 0px;
}