header {
  background-color: #162f47;
  position: sticky;
  top: 0;
}

header .logo {
  font-weight: bold;
  padding: var(--spacing-1) 0;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo-reddit {
  font-size: 2rem;
  margin-right: 8px;
}

header h1 {
  color: white;
}